@model HastaneOtomasyonSistemi.Models.Doktor

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Delete";
}

<h1>Doktor Kaydı Silme</h1>

<h3>Bu kaydı silmek istediğinize emin misiniz?</h3>
<div>
    <h4>Doktor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.soyAd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.soyAd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KimlikNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KimlikNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sifre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sifre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.poliklinik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.poliklinik.PoliklinikIsmi)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Listeyi görüntüle</a>
    </form>
</div>
