
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ======= Why Us Section ======= -->
<section id="why-us" class="why-us">
    <div class="container">

        <div class="row">
            <div class="col-lg-4 d-flex align-items-stretch">
                <div class="content">
                    <h3> @_localization.Getkey("WhyUs")</h3>
                    <p>
                        @_localization.Getkey("WhyUsP")
                    </p>
                    <div class="text-center">
                        <a href="#" class="more-btn">Daha fazlası <i class="bx bx-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 d-flex align-items-stretch">
                <div class="icon-boxes d-flex flex-column justify-content-center">
                    <div class="row">
                        <div class="col-xl-4 d-flex align-items-stretch">
                            <div class="icon-box mt-4 mt-xl-0">
                                <i class="bx bx-receipt"></i>
                                <h4> @_localization.Getkey("kr")</h4>
                                <p>@_localization.Getkey("krP")</p>
                            </div>
                        </div>
                        <div class="col-xl-4 d-flex align-items-stretch">
                            <div class="icon-box mt-4 mt-xl-0">
                                <i class="bx bx-cube-alt"></i>
                                <h4>@_localization.Getkey("kd")</h4>
                                <p>@_localization.Getkey("kdP")</p>
                            </div>
                        </div>
                        <div class="col-xl-4 d-flex align-items-stretch">
                            <div class="icon-box mt-4 mt-xl-0">
                                <i class="bx bx-images"></i>
                                <h4>@_localization.Getkey("gma")</h4>
                                <p>@_localization.Getkey("gmaP")</p>
                            </div>
                        </div>
                    </div>
                </div><!-- End .content-->
            </div>
        </div>

    </div>
</section><!-- End Why Us Section -->
<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container-fluid">

        <div class="row">
            <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative">
                <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox play-btn mb-4"></a>
            </div>

            <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                <h3> @_localization.Getkey("about")</h3>
                <p>@_localization.Getkey("aboutP")</p>

                <div class="icon-box">
                    <div class="icon"><i class="bx bx-fingerprint"></i></div>
                    <h4 class="title"><a href="">Teknoloji</a></h4>
                    <p class="description">@_localization.Getkey("TechP") </p>
                </div>

                <div class="icon-box">
                    <div class="icon"><i class="bx bx-gift"></i></div>
                    <h4 class="title"><a href="">@_localization.Getkey("imkanlar")</a></h4>
                    <p class="description">@_localization.Getkey("imkanlarP") </p>
                </div>

                <div class="icon-box">
                    <div class="icon"><i class="bx bx-atom"></i></div>
                    <h4 class="title"><a href="">@_localization.Getkey("mt")</a></h4>
                    <p class="description">@_localization.Getkey("mtP")</p>
                </div>

            </div>
        </div>

    </div>
</section><!-- End About Section -->
<!-- ======= Services Section ======= -->
<section id="services" class="services">
    <div class="container">

        <div class="section-title">
            <h2>@_localization.Getkey("imkanlar")</h2>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="icon-box">
                    <div class="icon"><i class="fas fa-heartbeat"></i></div>
                    <h4><a href="">@_localization.Getkey("ash")</a></h4>
                    <p>@_localization.Getkey("ashP")</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                <div class="icon-box">
                    <div class="icon"><i class="fas fa-pills"></i></div>
                    <h4><a href="">@_localization.Getkey("ch")</a></h4>
                    <p>@_localization.Getkey("chP")</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                <div class="icon-box">
                    <div class="icon"><i class="fas fa-hospital-user"></i></div>
                    <h4><a href="">@_localization.Getkey("dk")</a></h4>
                    <p>@_localization.Getkey("dkP")</p>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Services Section -->
<!-- ======= Departments Section ======= -->
<section id="departments" class="departments">
    <div class="container">

        <div class="section-title">
            <h2>@_localization.Getkey("polikliniklerimiz")</h2>
        </div>

        <div class="row gy-4">
            <div class="col-lg-3">
                <ul class="nav nav-tabs flex-column">
                    <li class="nav-item">
                        <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1"> @_localization.Getkey("Dahiliye Polikliniği")</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-2"> @_localization.Getkey("Cildiye Polikliniği")</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-3"> @_localization.Getkey("Kardiyoloji Polikliniği")</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-4"> @_localization.Getkey("Nöroloji Polikliniği")</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-5"> @_localization.Getkey("Göz Hastalıkları Polikliniği")</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-9">
                <div class="tab-content">
                    <div class="tab-pane active show" id="tab-1">
                        <div class="row gy-4">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3> @_localization.Getkey("Dahiliye Polikliniği")</h3>
                                <p>@_localization.Getkey("dahiliyeP")</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="~/SiteLayout/assets/img/departments-1.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-2">
                        <div class="row gy-4">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3>@_localization.Getkey("Nöroloji Polikliniği")</h3>
                                <p>@_localization.Getkey("NP")</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="~/SiteLayout/assets/img/departments-2.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-3">
                        <div class="row gy-4">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3>@_localization.Getkey("Kardiyoloji Polikliniği")</h3>
                                <p>@_localization.Getkey("KP")</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="~/SiteLayout/assets/img/departments-3.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-4">
                        <div class="row gy-4">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3>@_localization.Getkey("Kadın Polikliniği")</h3>
                                <p>@_localization.Getkey("NP")</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="~/SiteLayout/assets/img/departments-4.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-5">
                        <div class="row gy-4">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3>@_localization.Getkey("Göz Hastalıkları Polikliniği")</h3>
                                <p>@_localization.Getkey("gp")</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="~/SiteLayout/assets/img/departments-5.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Departments Section -->
<!-- ======= Frequently Asked Questions Section ======= -->
<section id="faq" class="faq section-bg">
    <div class="container">

        <div class="section-title">
            <h2> @_localization.Getkey("SSS")</h2>
        </div>

        <div class="faq-list">
            <ul>
                <li data-aos="fade-up">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1"> @_localization.Getkey("SSS1") <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                        <p>
                            @_localization.Getkey("SSS1P")

                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="100">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed"> @_localization.Getkey("Rİ") <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            @_localization.Getkey("RİP")
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="200">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed"> @_localization.Getkey("adi")<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            @_localization.Getkey("adip")
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="300">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed"> @_localization.Getkey("hd") <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                        <p>
                             @_localization.Getkey("hdp")
                        </p>
                    </div>
                </li>

            </ul>
        </div>

    </div>
</section><!-- End Frequently Asked Questions Section -->

