@model HastaneOtomasyonSistemi.Models.Hastaneler

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Details";
}

<h1>Hastane Bilgileri</h1>

<div>
    <h4>Hastaneler</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HastaneAd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HastaneAd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.il)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.il.ilAd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ilce)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ilce.ilceAd)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Düzenle</a> |
    <a asp-action="Index">Listeyi görüntüle</a>
</div>
