@model IEnumerable<HastaneOtomasyonSistemi.Models.Hastaneler>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Index";
}

<h1>Listeleme</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HastaneAd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.il)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ilce)
            </th>
          @*   <th>
                @Html.DisplayNameFor(model => model.poliklinikler)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HastaneAd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.il.ilAd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ilce.ilceAd)
                </td>@*
                <td>
                    @Html.DisplayFor(modelItem => item.poliklinikler)
            </td> *@
            <td> 
                <a asp-action="Edit" asp-route-id="@item.Id">Düzenle</a> |
                <a asp-action="Details" asp-route-id="@item.Id">İncele</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
