@model IEnumerable<HastaneOtomasyonSistemi.Models.Randevu>

@{
    ViewData["Title"] = "HastaRandevu";
    Layout = "~/Views/Shared/_HastaLayout.cshtml";
}

<h1>HastaRandevu</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.il)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ilce)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hastaneler)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RandevuTarihi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RandevuDurumu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.doktor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.poliklinik)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.il.ilAd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ilce.ilceAd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hastaneler.HastaneAd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RandevuTarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RandevuDurumu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.doktor.Ad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.poliklinik.PoliklinikIsmi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="RandevuDetails" asp-route-id="@item.Id">Details</a> |
                <a asp-action="DeleteHasta" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
