@model HastaneOtomasyonSistemi.Models.Hasta

@{
    ViewData["Title"] = "HastaDetails";
    Layout = "~/Views/Shared/_HastaLayout.cshtml";
}

<h1>HastaDetails</h1>

<div>
    <h4>Hasta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.soyAd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.soyAd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sifre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sifre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KimlikNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KimlikNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DogumTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DogumTarihi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> 
</div>
