@model IEnumerable<HastaneOtomasyonSistemi.Models.Hastane>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HastaneAd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.il)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HastaneAd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.il.ilAd)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HastaneId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.HastaneId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.HastaneId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
